/* تحميل خطوط Google Fonts */
@import url('https://fonts.googleapis.com/css?family=Noto+Sans:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cairo:400,700&display=swap');

/* خط افتراضي */
:root {
  --font-default: 'Noto Sans', sans-serif;
}

/* خط للنصوص العربية */
:root[lang="ar"],
body[dir="rtl"] {
  --font-default: 'Cairo', sans-serif;
}

/* تطبيق الخط على النصوص */
body,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
button,
input,
textarea,
select,
div,
pre,
code,
blockquote,
td,
th,
label,
.captionDefault-3otRk9,
.caption-3qfYcj,
.nameTag-3O6REG,
.title-31JmR4,
.titleDefault-a8-ZSr,
.titleWrapper-23fueE {
  font-family: var(--font-default) !important;
}

/* تطبيق الخط على الإيموجي */
.emoji {
  font-family: 'Segoe UI Emoji', 'Apple Color Emoji', 'Segoe UI Symbol', 'Noto Color Emoji', 'Android Emoji', 'EmojiSymbols', 'EmojiOne Color', sans-serif !important;
}

/* تعديل النصوص العربية */
:root[lang="ar"],
body[dir="rtl"] {
  transform: scaleX(-1);
  direction: rtl;
}

/* تعديل الشريط الجانبي للنصوص العربية */
:root[lang="ar"] ::-webkit-scrollbar {
  -webkit-appearance: none;
  width: 8px;
}

:root[lang="ar"] ::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: rgba(0,0,0,.5);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.5);
}

:root[lang="ar"] ::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0,0,0,.6);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,.8);
}

:root[lang="ar"] ::-webkit-scrollbar-thumb:active {
  background-color: rgba(0,0,0,.75);
  -webkit-box-shadow: 0 0 1px rgba(255,255,255,1);
}
